<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- Controls -->
    <add key="Left" value ="A"/>
    <add key="Right" value ="D"/>
    <add key="Up" value ="W"/>
    <add key="Down" value ="S"/>
    <add key="Toggle Inventory" value ="E"/>
    <add key="Toggle Chat" value ="T"/>
    <add key="Open Achievements" value ="L"/>
    <add key="Open Crafting" value ="C"/>
    <add key="Take Screenshot" value ="F2"/>
    <add key="Place on Background" value ="LeftShift"/>
    <add key="Zoom In" value ="E"/>
    <add key="Zoom Out" value ="Q"/>
    <add key="Show GUI" value ="F1"/>
    <add key="Debug Mode" value ="F3"/>
    <add key="Show Player" value ="F4"/>
    <add key="Toggle Fullscreen" value ="F11"/>
    <!-- Settings -->
    <add key="ParticleQuality" value="2"/>
    <add key="LightingQuality" value="2"/>
    <add key="LightingRefresh" value="1"/>
    <add key="DropShadows" value="true"/>
    <add key="TileEdges" value="true"/>
    <add key="Antialiasing" value="true"/>
    <add key="Autosave" value="true"/>
    <add key="Fullscreen" value="false"/>
    <add key="Skin" value="0"/>
    <add key="ContentPack" value="Default"/>
    <!-- Authentication -->
    <add key="Pass" value =""/>
    <add key="User" value =""/>
  </appSettings>
</configuration>